
@{
    ViewData["Title"] = "Index2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<div style="margin-top:10px;">
    <div>
        <table id="HashTable" class="table table-striped table-bordered table-hover table-checkable display responsive nowrap no-footer dtr-inline" role="grid">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>first_seen</th>
                    <th>md5_hash</th>
                    <th>sha1_hash</th>
                    <th>sha256_hash</th>
                    <th>signature</th>
                    <th>tags</th>
                    <th>Sil</th>

                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>
<div id="load" class="loader" style="display:none;"></div>

@section scripts{
    <script>
        $(document).ready(function () {
            GetHashList();
        });

        function GetHashList() {
            try {
                $('#HashTable').DataTable(
                    {
                        serverSide: true,
                        destroy: true,
                        processing: true,
                        "language": {
                            processing: '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading..n.</span> '
                        },
                        "searching": false,
                        "order": [[0, "desc"]],
                        "dom": 'Blfrtip',
                        "lengthMenu": [10, 25, 50, 75, 100],
                        "deferRender": true,
                        paging: true,
                        ajax: {
                            "url": '/HashData/GetAllData/',
                            "dataType": "json",
                            "data": function (r) { return { dataTablesRequestParameter: r }; },
                            "type": 'Post'
                        },
                        "columns": [
                            {
                                data: 'id',
                                render: function (data, type, full, meta) {
                                    return `<p class="font-weight-normal">${full.id}</p>`;
                                }
                            },
                            {
                                data: 'first_seen',
                                render: function (data, type, full, meta) {
                                    return full.first_seen == null ? "" : `<p class="font-weight-bold text-muted">${moment(full.first_seen).format("DD.MM.YYYY<br />HH:mm")}</p>`;
                                }
                            },
                            {
                                data: 'md5_hash',
                                render: function (data, type, full, meta) {
                                    return `<p class="font-weight-normal">${full.md5_hash}</p>`;
                                }
                            },

                            { data: 'sha1_hash' },
                            { data: 'sha256_hash' },
                            { data: 'signature' },
                            { data: 'tags' },
                            {
                                render: function (data, type, full, meta) {
                                    return `<button type="button" onclick="javascript:DeleteHash(${full.id})" class="btn btn-danger">Sil</button>`;
                                }
                            }


                        ]
                    });
            } catch (e) {
                alert(e);
            }
        }
        function DeleteHash(ID) {
            swal({
                title: "Caution!",
                text: "Are you sure to delete the selected data?",
                buttons: [
                    'No, cancel it!',
                    'Yes, I am sure!'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/HashData/DeleteHash",
                        type: "Post",
                        data: { id: ID },
                        success: function (resp) {
                            if (resp.HasError) {
                                swal("Error", resp.message, "warning");
                            } else {
                                swal("Deleted!", resp.message, "success");
                                GetHashList();
                            }

                        }
                    });
                }

            });
        }
        function UpdateHash() {
            swal({
                title: "Caution!",
                text: "Are you sure to get updated data?",
                buttons: [
                    'No, cancel it!',
                    'Yes, I am sure!'
                ],
            }).then(function (isConfirm) {
                if (isConfirm) {
                    $.ajax({
                        url: "/HashData/UpdateData",
                        type: "Post",
                        beforeSend: function () {
                            $('#load').css("display", "block");
                        },
                        success: function (resp) {
                            if (resp.HasError) {
                                swal("Error", resp.message, "warning");
                            } else {
                                swal("Updated.!", resp.message, "success");
                                GetHashList();
                            }

                        },
                        complete: function () {
                            $('#load').css("display","none");
                        }
                    });
                }

            });
        }
    </script>
}
